.logo {
  height: 50px;
  margin: 7px 30px;
  float: left;
}

.header {
  height: 64px;
  background: #202020;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 10px;
}
